mmseg/mmseg_config/work_dirs/
mmseg/mmsegmentation/
mmseg/mmseg_config/wandb/
mmseg/mmseg_config/__pycache__/
mmseg/mmseg_config/my_pickle.py
__pycache__/
submission/
torch/__pycache__/
torch/models/__pycache__/
torch/wandb/
torch/work_dirs/
torch/wandb_setup.py

